:root {
    --blocks-margin: 16px;
    --blocks-border-radius: 48px;
    --standard-padding: 8px;
    --standard-vertical-text-padding: 4px;
    --standard-horizontal-text-padding: 8px;

    --lilac: #BABDE2;
    --darklilac: #374375;
    --blue: #000950;
    --white: #F5F5F5;

    --shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
@font-face {
	font-family: 'avenirnextcyr';
	src: url('fonts/avenirnextcyr-thin.eot');
	src: url('fonts/avenirnextcyr-thin.eot?#iefix') format('embedded-opentype'),
		 url('fonts/avenirnextcyr-thin.woff2') format('woff2'),
		 url('fonts/avenirnextcyr-thin.woff') format('woff'),
		 url('fonts/avenirnextcyr-thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }

* {
    margin: 0;
    padding: 0;
    font: 1.2rem 'avenirnextcyr';
    text-transform: uppercase;
    font-weight: 600;
}

a {
    text-decoration: none;
}

a:link {
    color: #374375;
}

a:visited {
    color: #000950;
}

a:hover {
    color: #374375;
}

a:active {
    color: #374375;
}


.wrapper {
    height: 100vh;
}

.card {
    border-radius: var(--blocks-border-radius);
}

.semi-card {
    border-radius: 0 var(--blocks-border-radius) var(--blocks-border-radius) 0;
}

.container {
    display: grid;
    height: 100%;
    gap: var(--blocks-margin);
    padding: var(--blocks-margin);
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
    background: var(--white);
}

.header {
    grid-column: 1/3;
    background: var(--darklilac);
    padding: 0 calc(4 * var(--blocks-border-radius)) 0 0;
    box-shadow: var(--shadow);
}

.box_circles {
    box-sizing: border-box;
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    background: var(--lilac);
    height: 100%;
    box-shadow: var(--shadow);
    align-content: center;
    flex-wrap: wrap;
    display: flex;
}

.header-text {
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    height: 100%;
    color: var(--blue);
    align-content: center;
    flex-wrap: wrap;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
}

.shop-button-wrapper {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    background: var(--darklilac);
    padding: var(--standard-padding);
    box-shadow: var(--shadow);
    width: 35%;
    height: 43px;
    justify-self: end;
    justify-content: center;
    align-items: center;
}

.shop-button {
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    background: var(--lilac);
    color: var(--blue);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-button-wrapper1 {
    grid-column: 3;
    grid-row: 1;
    background: var(--darklilac);
    padding: var(--standard-padding);
    box-shadow: var(--shadow);
    width: fit-content;
    margin-left: 110px;
}

.shop-button1 {
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    background: var(--lilac);
    color: var(--blue);
    width: fit-content;
    margin-top: 4px;
}

.main-card {
    grid-column: 1/3;
    grid-row: 2/4;
    background: white;
    box-shadow: var(--shadow);
}

.card-wrapper {
    grid-column: 3;
    padding: calc(2 * var(--standard-padding)) calc(2 * var(--standard-padding));
    background-color: var(--darklilac);
    box-shadow: var(--shadow);
}

.card-wrapper:nth-of-type(1) {
    grid-row: 2;
}

.card-wrapper:nth-of-type(2) {
    grid-row: 3;
}

.option-card {
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--standard-padding));
    background: var(--lilac);
    height: 100%;
}

.pop-up-card{
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--standard-padding));
    background: var(--lilac);
    margin-left: 42px;
    position: absolute;
    margin-top: 50px;
}

.pop-up-option{
    display: flex;
    background-color: var(--white);
    margin: 0 var(--standard-padding);
    transform: translate(0, calc(1.5 * var(--standard-padding)));
}

.pop-up-name{
    background-color: var(--darklilac);
    color: var(--lilac);
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
}

.pop-up-text{
    color: var(--darklilac);
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    background-color: var(--white);
    width: 200px;
}

.option1 {
    display: flex;
    background-color: var(--darklilac);
    margin: 1 var(--standard-padding) 0;
    transform: translate(0, calc(0 * var(--standard-padding)));
}

.option2 {
    display: flex;
    background-color: var(--white);
    margin: 0 var(--standard-padding);
    transform: translate(0, calc(1.5 * var(--standard-padding)));
}

.option-name {
    background-color: var(--darklilac);
    color: var(--lilac);
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
}

.option-text {
    color: var(--darklilac);
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    background-color: var(--white);
}

.footer {
    display: flex;
    flex-direction: column;
    grid-column: 1/4;

}

.name {
    background-color: var(--lilac);
    color: var(--blue);
    padding: var(--standard-vertical-text-padding) calc(2 * var(--standard-horizontal-text-padding)) var(--standard-vertical-text-padding) calc(1 * var(--standard-horizontal-text-padding));
    width: fit-content;
    box-shadow: var(--shadow);
}

.chat-wrapper {
    background-color: var(--darklilac);
    margin-right: var(--blocks-border-radius);
}

.chat {
    color: var(--lilac);
    padding: calc(2 * var(--standard-vertical-text-padding)) var(--standard-horizontal-text-padding);
    box-shadow: var(--shadow);
}

.word {
    position: relative;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.tooltip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 1;
}

.word:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

#main {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.pop-up-background {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#main1 {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#okno {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 75vh;
}

#okno1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vh;
    height: 75vh;
}

#main:target {
    display: block;
}

#main1:target {
    display: block;
}

.pop-up {
    width: 60vh;
    height: 75vh;
    text-align: center;
    padding: 15px;
    background-color: var(--darklilac);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 37px;
    box-shadow: var(--shadow);
}

.pop-up1 {
    width: 60vh;
    height: 75vh;
    text-align: center;
    padding: 15px;
    background-color: var(--darklilac);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 37px;
    box-shadow: var(--shadow);
}

.pop-up_mini {
    width: 55vh;
    height: 70vh;
    text-align: center;
    padding: 15px;
    background-color: var(--lilac);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 37px;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
}

.pop-up_mini1 {
    width: 55vh;
    height: 70vh;
    text-align: center;
    padding: 15px;
    background-color: var(--lilac);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 37px;
    box-shadow: var(--shadow);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.button_b {
    width: 15vw;
    height: 4vh;
    text-align: center;
    padding: 0.5rem;
    /* Отступы 0.5 rem (относительная единица) */
    background-color: var(--white);
    border-radius: 40px;
    box-shadow: var(--shadow);
    display: flex;
    grid-column: 1 / span 2;
    place-self: center;
    place-content: center;
  /*  position: relative;
    /* Изменено на relative для адаптивности */
 /*   margin-top: 66vh;
    margin-left: 15vh;*/
}

.button-name {
    color: var(--darklilac);
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.add_new {
    padding: 15px;
    margin-left: 85%;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: var(--darklilac);
}

.add_new img {
    margin-left: 7px;
}

.item1 {
    width: 18vh;
    height: 25vh;
    background-color: var(--white);
    border-radius: 37px;
    grid-column: 1;
    grid-row: 1;
    margin-left: 35px;
    margin-top: 40px;
}

.item2 {
    width: 18vh;
    height: 25vh;
    background-color: var(--white);
    border-radius: 37px;
    grid-column: 3;
    grid-row: 1;
    margin-right: 15px;
    margin-top: 40px;
}

.item3 {
    width: 18vh;
    height: 25vh;
    background-color: var(--white);
    border-radius: 37px;
    grid-column: 1;
    grid-row: 2;
    margin-left: 35px;
    margin-top: 40px;
}

.item4 {
    width: 18vh;
    height: 25vh;
    background-color: var(--white);
    border-radius: 37px;
    grid-column: 3;
    grid-row: 2;
    margin-right: 15px;
    margin-top: 40px;
}

.pop-up_header {
    grid-row: 1;
    grid-column: 1 / span 2;
}

.pop-up_header {
    color: var(--blue);
}
/*
.circle {
    position: absolute;
    margin-left: 86vh;
    margin-top: 15px;
}

.circle1 {
    position: absolute;
    margin-left: 94vh;
    margin-top: 15px;

}

.divider{
    position: absolute;
    margin-left: 50px;
    padding-top: 22px;

}

.divider_2{
    position: absolute;
    margin-left: 37px;
    padding-top: 22px;
}

.pop-up-header{
    height: 30vh;
	display: flex;
  	flex-direction: column;
	background-color: var(--white);
	border-radius: 19px 19px 45px 45px;
	box-shadow: var(--shadow);
	gap: calc(2 * var(--standard-padding));
	margin-top: 20px;
	margin-left: 2.2%;
	margin-right: 2.2%;
}

.pet-chose{
    padding: 0px;
	background-color: var(--darklilac);
	color: var(--lilac);
	border-radius: 45px;
	padding:4px 4px 4px 6px;
}