.container {
    display: grid;
    height: 100%;
    gap: var(--blocks-margin);
    padding: var(--blocks-margin);
    box-sizing: border-box;
    background: var(--lilac);
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 9fr;
}

.logo-text {
    color: var(--darklilac);
    align-items: center;
    grid-row: 1;
    grid-column: 2;
    font-size: xxx-large;
    display: flex;
    justify-content: center;
    /* центрирует текст по горизонтали */
    align-items: center;
    /* центрирует текст по вертикали */
}

.card-wrapper{
    grid-column: 2;
    padding: calc(2 * var(--standard-padding)) calc(2 * var(--standard-padding));
    background-color: var(--darklilac);
    box-shadow: var(--shadow);
    height: 60vh;
    grid-row: 2;
}

.option-card{
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--standard-padding));
    background: var(--lilac);
    height: 100%;
}

.header {
    display: grid;
    background-color: var(--white);
    margin: 1 var(--standard-padding) 0;
    transform: translate(0, calc(0 * var(--standard-padding)));
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    grid-template-columns: 1fr 1fr;
}


.registration {
    background-color: var(--white);
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.registration.active {
    background-color: var(--darklilac);
}

.registration-text {
    color: var(--darklilac);
    grid-column: 2;
}

.registration-text1 {
    grid-column: 2;
}

.registration-text.active {
    color: var(--lilac);
}

.option-back {
    display: flex;
    background-color: var(--white);
    margin: 1 var(--standard-padding) 0;
    transform: translate(0, calc(0 * var(--standard-padding)));
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
}


.option-front {
    background-color: var(--darklilac);
    padding: var(--standard-vertical-text-padding) var(--standard-horizontal-text-padding);
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.option-text{
    color: var(--lilac); 
    grid-column: 2;
}

.button-back {
align-self: center;
    width: fit-content;
    background-color: var(--darklilac);
    margin: 1 var(--standard-padding) 0;
    transform: translate(0, calc(0 * var(--standard-padding)));
    margin-top: 26%;
    margin-bottom: 5%;
    padding: 1px 50px 1px 50px;
}


.button-front {
    width: fit-content;
    background-color: var(--lilac);
    display: grid;
    grid-template-columns: 1% 1fr 1%;
    grid-column: 2;
    padding: 1px 50px 2px 50px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.button-text{
    color: var(--darklilac); 
    grid-column: 2;
    margin-top: 10%;
}
form {
    display:flex;
    flex-direction: column;
}

.option-card.card {
    height: fit-content;
}
.card-wrapper.card {
    height: fit-content;
}

input, select{
    border: 0;
    outline: none !important;
    background: var(--white) !important;
}